#profilePicture {
  width: 25%;
  border-radius: 50%;
}
* {
  background-color: rgb(239, 240, 218);
  color: rgb(39, 57, 96);
  line-height: 1.5rem;
}
header {
  text-align: center;
  padding-top: 0.25rem;
}
main {
  font-size: 1.15rem;
}
h1 {
  color: rgb(24, 57, 128);
}
h2 {
  padding-left: 5%;
}
p {
  padding-left: 2%;
  text-indent: 8%;
}
.Skills {
  display: flex;
  flex-direction: row;
}
.flex-left {
  border-right: solid;
  flex: 50%;
  text-align: center;
  list-style: none;
}
.flex-right {
  flex: 50%;
  text-align: center;
  list-style: none;
}
#catPictures {
  display: flex;
}
.catPicture {
  max-width: 25%;
  border-radius: 10%;
  margin: 1rem auto;
  text-align: right;
}
