/**mobile*/
img {
  margin: auto;
  float: top;
  shape-outside: polygon(75% 0, 104% 74%, 1% 110%, 0 49%);
}
/**tablet*/
@media screen and (width >= 350px) {
  img {
    float: left;
    shape-outside: polygon(75% 0, 109% 74%, 1% 141%, 0 49%);
  }
}
/**big screen*/
@media screen and (width >= 990px) {
  img {
    shape-outside: polygon(81% 0, 106% 86%, 9% 104%, 0 48%);
  }
}
